/* Md. Abdullah
Junior Web Developer
Dhaka,Bangladesh | +8801642369776
Email: abdullahmohammad262000@gmail.com
 GitHub | Linkedin  



CAREER OBJECTIVE:
As a junior web developer, my goal is to create engaging and intuitive web applications that enhance user experience and drive business success. I am eager to expand my skills and explore new technologies to bring innovative ideas to life. My focus is on clean code attention to detail. 
SKILLS:
 Expertise:        HTML | CSS | Bootstrap | Tailwind | React | React Router |  Firebase auth 
 Comfortable:   JWT | JavaScript | ES6 | Express.js | Rest API | MongoDB | Axios | Tanstack query
 Familier:          Node.js
 Tools:              VS Code | Figma | GitHub | Netlify | Vercel
PROJECT:
1.Brainly
Features:
Efficient admin panel for managing courses, including adding, editing and removing courses for an up-to-date catalogue.
Robust system for creating and managing user accounts, assigning roles and permissions to ensure platform security.
Secure stripe payment gateway for smooth transactions, providing a seamless user experience.
Technology used: React, Tailwind, DaisyUi, Firebase, Node JS, Express JS, MongoDB
 2.ToyLand
Features: 
Users can see some toys by category.
If a user is logged in they can add a new toy from add a toy.
All of the new toys that users will add will be stored in a database and then sorted in descending order.
Technology used: React, Tailwind, DaisyUi, Firebase, Express JS, MongoDB
3.BD Chef
Features:
User registration and login system.
Interactive home page displaying featured chefs and recipe categories.
Personalised access to saved favourite recipes.
Technology used: React, Tailwind, DaisyUi, Firebase, Node JS, Express JS, MongoDB

EDUCATION:
Hadith (Hon’s) : 2021 (Present) 
Institution Name : Islamic Arabic University
LANGUAGE:
Bangla: Native
Hindi:    Conversational
 */
